    *{
    background-color: antiquewhite;
    margin: 0 30px 0 30px;
    }

    .iconomenu{
    display: none;
    }


    .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    }


    .contenedor{
    text-align: center;
    }


    .menu{
    color: #804000;
    border: 2px solid #a3d7f5;
    background-color: white;
    width: 15%;
    height: 35px;
    margin-bottom: 40px;  
    }

    #sabores{
    color: #a3d7f5;
    text-align: center;
    font-size: 37px; 
    background-color: white; 
    padding-bottom: 45px;
    }


    #postres{
        background-color: white;
        text-align: center;
    }


    .postre{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 0px 1%;
    background: white;
    }


    .nombre{
    font-size:30px;
    font: normal normal normal 19px/1.5em proxima-n-w01-reg,sans-serif;
    color: rgb(36, 33, 31);
    width: 100%;
    line-height: 1.5;
    margin-top: 25px;
    margin-bottom: 18px;
    text-align: center;
    background: white; 
    margin-left: 0;
    }


    .precio{
    font: normal normal normal 17px/1.5em proxima-n-w01-reg,sans-serif;
    color: rgb(104, 57, 26);
    margin-top: 12px;
    margin-bottom: 25px;
    font-size:20px;
    width: 100%;
    text-align: center;
    background: white;
    margin-left: 0%;
    }  

    
    .descripcion{
    font: normal normal normal 15px/1.5em proxima-n-w01-reg,sans-serif;
    color: rgb(104, 57, 26);
    line-height: 1.6;
    margin-top: 12px;
    margin-bottom: 25px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    height: 75px;
    background: white;
    margin-left: 0%;
    }
   
    
    .raya{
    background-color:#804000;
    width: calc(100% -34px);
    height: 2px;
    padding-left: 34px;
    }

   
    footer{
    color:#804000;
    text-align: center;
    margin: 30px;
    }



    @media(max-width:400px) {


    .iconomenu{
    display: inline;
    width: 40px;
    height: 36px;
    margin-left: 240px;
    margin-top: 20px;
    }

    .menu{
        display: none;
    }

    *{
        background-color: antiquewhite;
        margin: 0px 7px 0 7px;
    }

    .postre{
        display: block;
        width: 265px;
        text-align: center;
        margin: 0px 1%;
        background: white;

    }

    .descripcion{
        display: inline-block;
    }
#postres{
    text-align: left;
}

    }
